
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCHG8I2Nsz_TOmeYaUfi3bU6m1KgAF-SXA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=easy-medical-5e916.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=easy-medical-5e916
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=easy-medical-5e916.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=810461556367
NEXT_PUBLIC_FIREBASE_APP_ID=1=810461556367=web=4c1be994cd7607d506cafa
NEXT_PUBLIC_MEASUREMENT_ID=G-FR7LKCFGYW



# parametre de connexion mongodb en ligne
MONGODB_URI=mongodb+srv://ykdavid11:r87IuQldHYDzFCFH@cluster0.v4wiq9y.mongodb.net/bd_motoboutic?retryWrites=true&w=majority&appName=Cluster0
# local: MONGODB_URI=mongodb://localhost:27017/db_moto
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yaoentier@gmail.com
SMTP_PASS=ondb qdma ojzs sxeo